* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0f1424;
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
a,
img {
  display: inline-block;
}
a,
a:hover,
a:visited {
  text-decoration: none;
  color: hsl(235, 45%, 61%);
  /* color: inherit; */
}
a.active {
  color: white;
}
ul {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
h1 {
  font-size: 36px;
  font-weight: 300;
}
h2 {
  font-size: 40px;
  font-weight: 300;
}
h3 {
  font-weight: normal;
}
p {
  color: hsl(236, 100%, 87%);
  font-size: 14px;
}

.flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.flex-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.mb-10 {
  margin-bottom: 10px;
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
  bottom: 0;
  margin: 10px auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MAIN */
.center-container {
  padding: 30px;
  margin: 0 auto;
}
/* GRID */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
/* CARD */
.card {
  border-radius: 20px;
  overflow: hidden;
}
.card .card-body {
  padding: 30px;
  margin-top: -30px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 20px;
  cursor: pointer;
}
.options {
  border: 0;
  display: block;
  height: 10px;
  width: 30px;
  background-color: transparent;
  background-image: url("./images/icon-ellipsis.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.card-body .stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .card-header {
  height: 80px;
  padding: 30px;
}
/* CARD-USER */
.card-user .card-header {
  height: 120px;
  border-radius: 0 0 20px 20px;
  background-color: hsl(246, 80%, 60%);
  margin-bottom: -20px;
  position: relative;
  padding: 0;
}
.user-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}
.user-profile,
.user-profile img {
  height: 70px;
}
.user-profile img {
  border: 3px solid white;
  border-radius: 50%;
}
.card-user .card-body {
  border-radius: 0;
  padding-top: 60px;
}
.card .card-body .filter {
  /* padding: 30px; */
  justify-content: space-between;
}

.card-bg {
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 0px;
}

/* OTHER CARDS */
.card-work .card-header {
  background-image: url("./images/icon-work.svg");
  background-color: hsl(15, 100%, 70%);
}
.card-play .card-header {
  background-image: url("./images/icon-play.svg");
  background-color: hsl(195, 74%, 62%);
}
.card-study .card-header {
  background-image: url("./images/icon-study.svg");
  background-color: hsl(348, 100%, 68%);
}
.card-exercise .card-header {
  background-image: url("./images/icon-exercise.svg");
  background-color: hsl(145, 58%, 55%);
}
.card-social .card-header {
  background-image: url("./images/icon-social.svg");
  background-color: hsl(264, 64%, 52%);
}
.card-selfcare .card-header {
  background-image: url("./images/icon-self-care.svg");
  background-color: hsl(43, 84%, 65%);
}

/* TAB VIEW */
@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .card-user {
    grid-column: 1/-1;
  }
  .user-detail {
    padding: 30px;
    justify-content: flex-start;
  }
  .card .card-body .filter {
    justify-content: space-around;
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 1024px) {
  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1100px;
    margin: 0 auto;
  }
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .card-user {
    grid-column: 1/1;
    grid-row: 1/-1;
  }
  .card-user .card-header {
    height: 300px;
  }
  .user-detail {
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .user-profile,
  .user-profile img {
    margin-bottom: 20px;
  }
  .card .card-body .filter {
    display: block;
  }
  .filter li {
    margin-bottom: 10px;
  }
  .card-body .stats {
    display: block;
  }
  .stats h2 {
    margin-bottom: 10px;
  }
  .attribution {
    position: absolute;
  }
}
